<% content_for :title, "New Geo Field" %>
<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to "GeoFields", fields_path %></li>
  <li class="breadcrumb-item active" aria-current="page">New Field</li>
<% end %>
<h2>New Geo Field</h2>
<%= render "form", field: @field %>
